{% extends '::base.html.twig' %}
{% block title %}companies{% endblock %}
{% block body %}
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <section>
                    <header class="major">
                        <h2>Our Service Providers</h2>
                    </header>
                    <div>
										{% for company in companies %}
											{% if (loop.index-1)%3 == 0 %}
                            <div class="row">
											{% endif %}
                                    <div class="4u">
                                        <section class="box">
                                            <header>
                                                <h3>{{ company.username }}</h3>
                                            </header>
                                            <p>
                                            <div style="color:#d52349;font-weight: 700;">Contact Details</div>
                                            <div style="position:relative;left:20px">
                                                <div><b>Email</b>&nbsp;{{ company.email }}</div>
                                                <div><b>Website</b>&nbsp;{{ company.website }}</div>
                                                <div><b>Activity</b>&nbsp;{{ company.category }}</div>
                                            </div>
                                            </p>
                                            <footer>
                                                <a href="{{ path('sitereservation_companyprofile',{"name" : company.id }) }}" class="button button-alt">Visit the company</a>
                                            </footer>
                                        </section>
                                    </div>
											{% if (loop.index)%3 == 0 %}
                                </div>
											{% endif %}
											{% endfor %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>					
{% endblock %}