{% extends '::base.html.twig' %}
{% block title %}companies{% endblock %}
{% block body %}
	<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
								<section>
									<header class="major">
										<h2>Our Service Providers</h2>
									</header>
										<div>
										<div id="map-canvas" onload="initialize()"></div>
										{% for company in companies %}
										<script>
											var map;
											var geocoder;
											function initialize(){
												var geocoder = new google.maps.Geocoder();
												var latlng = new google.maps.LatLng(42.13121 , -79.12313);
												var myOptions={
													zoom:10,
													center:latlng,
													mapTypeId: google.maps.MapTypeId.ROADMAP
												}
												map = new google.maps.Map(document.getElementById("map-canvas"),myOptions);
												}
										</script>
										
											{% if (loop.index-1)%3 == 0 %}
											  	<div class="row">
											{% endif %}
											<div class="4u">
												<section class="box">
													<header>
														<h3>{{ company.custid.username }}</h3>
													</header>
													<p>
													<div style="color:#d52349;font-weight: 700;">Contact Details</div>
													<div style="position:relative;left:20px">
														<div><b>Email</b>&nbsp;{{ company.custid.email }}</div>
														<div><b>Website</b>&nbsp;{{ company.website }}</div>
														<div><b>Activity</b>&nbsp;{{ company.category }}</div>
													</div>
													</p>
													<footer>
														<a href="{{ path('sitereservation_companyprofile',{"id" : company.id }) }}" class="button button-alt">Visit the company</a>
													</footer>
												</section>
												</div>
											{% if (loop.index)%3 == 0 %}
											  	</div>
											{% endif %}
											{% endfor %}
									</div>
								</section>
						</div>
					</div>
				</div>
			</div>					
{% endblock %}